<div class="form-outer">
	<h2>Log in to view your wishlist</h2>
	 <body>
      <form action="/auth/shopify" method="get">
      <label for="shop">Enter your stores URL:</label>
      <input type="text" name="shop" placeholder="your-shop-url.myshopify.com">
      <button type="submit">Log In</button>
      </form>
    </body>
</div>